.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: 300px;
}

.navbar .profile{
    width: 40px;
}

@media (max-width:900px) {
    .navbar .logo{
        width: 200px;
    }
}

@media (max-width:750px) {
    .navbar .logo{
        width: 150px;
    }
}